<div class="container">
  <h2>User Management</h2>

  <div class="top-bar">
  <div class="search-box">
    <input
      type="text"
      class="form-control w-100"
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
      placeholder="Search by name or email"
    />
  </div>
  <div class="actions">
    <button class="primary-btn" (click)="addUser()">Add User</button>
  </div>
</div>

  
  

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th (click)="changeSort('name')" style="cursor: pointer;">Name</th>
        <th (click)="changeSort('email')" style="cursor: pointer;">Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of paginate(filteredUsers)">
        <td data-label="Name">{{ user.name }}</td>
        <td data-label="Email">{{ user.email }}</td>
        <td data-label="Role">{{ user.role }}</td>
        <td data-label="Actions" class="actions">
          <button class="edit-btn" (click)="editUser(user.id)">Edit</button>
          <button class="delete-btn" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage + 1 }} of {{ (filteredUsers.length / pageSize) | ceil }}</span>
    <button class="btn btn-secondary" (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= filteredUsers.length">Next</button>
  </div>
</div>
